.s .panel
{
	padding: 8px;
	margin: 0;
	border: 1px solid black;
	/*+border-radius: 12px;*/
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px;
	border-radius: 12px;
	background-color: #F6F6F6;
	background-image: url(./teste.png);
}
