@import "./media";

* {
	position: relative;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, div, section {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	vertical-align: middle;
	outline: none;
	border: none;
}
a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}


// grid ---------------------------------------
$percentSizes: (010, 020, 030, 040, 050, 060, 070, 080, 090, 100, 025, 033, 066, 075);

.dc {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	box-sizing: border-box;
	overflow: hidden;
	& > * {
		padding: 20px;
		box-sizing: border-box;
	}
}

.a-grid,
.b-grid,
.c-grid,
.d-grid,
.e-grid,
.a-row,
.b-row,
.c-row,
.d-row,
.e-row,
.a-col,
.b-col,
.c-col,
.d-col,
.e-col {
	@extend .dc;
	padding: 0;
}

.a-row,
.b-row,
.c-row,
.d-row,
.e-row,
.a-col,
.b-col,
.c-col,
.d-col,
.e-col {
	/*flex-wrap: nowrap;*/
}

// .a-grid,
// .b-grid,
// .c-grid,
// .d-grid,
// .e-grid,
// .a-row,
// .b-row,
// .c-row,
// .d-row,
// .e-row,
// {
// 	flex-direction: row;
// }

@mixin letter($letter) {
	// -------------------------
	$enabled: ();
	$disabled: ();

	@if $letter == "a" {
		$enabled: ("a", "b", "c", "d", "e");
		$disabled: ("a");
	}

	@if $letter == "b" {
		$enabled: ( "b", "c", "d", "e");
		$disabled: ("a", "b");
	}

	@if $letter == "c" {
		$enabled: ( "c", "d", "e");
		$disabled: ("a", "b", "c");
	}

	@if $letter == "d" {
		$enabled: ( "d", "e");
		$disabled: ("a", "b", "c", "d");
	}

	@if $letter == "e" {
		$enabled: ( "e");
		$disabled: ("a", "b", "c", "d", "e");
	}
	// --------------------------
	.#{$letter}-col {
		flex-direction: column; // items -------------------------
	}

	.#{$letter}-grid,
	.#{$letter}-row {
		flex-direction: row;
	}

	.#{$letter}-col,
	.#{$letter}-row {
		flex-wrap: nowrap;
	}

	.#{$letter}-grid {
		flex-wrap: wrap;
	}


	& > .row {
		& > * {
		}
	}
	// -----------------
	@for $i from 1 through 120 {
		.#{$letter}-#{($i * 10)} {
			flex: 0 1 ($i * 10px);
		}
	}
	// @each $i in $pixelSizes {
	// 	.#{$letter}-#{$i}px {
	// 		flex: 0 1 ($i * 1px);
	// 	}
	// }
	@each $i in $percentSizes {
		.#{$letter}-#{$i}p {
			$isize: $i;

			@if $isize==33 {
				$isize: 33.3333;
			}

			@if $isize==66 {
				$isize: 66.6666;
			}

			flex: 0 1 $isize * 1%;
		}
	}
	// ---------------------
	.#{$letter}-col {
		@each $j in $disabled {
			// reset vertical align
			& > .#{$j}-top {
				align-self: unset;
			}

			& > .#{$j}-middle {
				align-self: unset;
			}

			& > .#{$j}-bottom {
				align-self: unset;
			}
		}
	}
	/// row align
	.#{$letter}-row, .#{$letter}-grid {
		@each $i in $enabled {
			& > .#{$i}-top {
				align-self: flex-start;
			}



			& > .#{$i}-middle {
				align-self: center;
			}

			& > .#{$i}-bottom {
				align-self: flex-end;
			}

			& > .#{$i}-fill {
				align-self: stretch;
			}
		}
	}
	// normal align
	.#{$letter}-center {
		margin-left: auto;
		margin-right: auto;
	}

	.#{$letter}-right {
		margin-right: 0;
		margin-left: auto;
	}

	.#{$letter}-left {
		margin-left: 0;
		margin-right: auto;
	}
}

// align --------------------
@mixin letter-extend($letter) {






	.a-row,
	.b-row,
	.c-row,
	.d-row,
	.e-row,
	.a-grid,
	.b-grid,
	.c-grid,
	.d-grid,
	.e-grid,
	.a-col,
	.b-col,
	.c-col,
	.d-col,
	.e-col {
		/*& > .#{$letter}-fill {
			flex-shrink: 1;
			flex-grow: 1;
			align-self: unset;
		}*/
		& > .#{$letter}-grow {
			flex-shrink: unset;
			flex-grow: 1;
			max-width: 100%;
		}

		& > .#{$letter}-shrink {
			flex-grow: unset;
			flex-shrink: 1;
			max-width: 100%;
		}

		& > .#{$letter}-shrink-grow {
			flex-grow: 1;
			flex-shrink: 1;
			max-width: 100%;
		}


		& > .#{$letter}-lock {
			flex-shrink: 0;
			flex-grow: 0;
			max-width: 100%;
		}

		&.#{$letter}-space-between {
			justify-content: space-between;
			padding: 20px;

			& > * {
				padding: 0;
			}
		}

		&.#{$letter}-space-around {
			justify-content: space-around;
			/*padding: 20px;

			& > * {
				padding: 0;
			}*/
		}

		&.#{$letter}-space-center {
			justify-content: center;
			/*padding: 0;
			& > * {
				padding: 20px;
			}*/
		}

		&.#{$letter}-stretch {
			align-self: stretch;
			/*padding: 0;
			& > * {
				padding: 20px;
			}*/
		}
	}

	.#{$letter}-col {
		// flex: unset;
	}

	.#{$letter}-hide {
		position: absolute;
		visibility: collapse;
	}

	.#{$letter}-show {
		position: relative;
		visibility: visible;
	}
	// padding
	.#{$letter}-p-0 {
		padding: 0;
	}

	.#{$letter}-p-10 {
		padding: 10px;
	}

	.#{$letter}-p-20 {
		padding: 20px;
	}
	// padding right
	.#{$letter}-pr-0 {
		padding-right: 0;
	}

	.#{$letter}-pr-10 {
		padding-right: 10px;
	}

	.#{$letter}-pr-20 {
		padding-right: 20px;
	}
	// padding left
	.#{$letter}-pl-0 {
		padding-left: 0;
	}

	.#{$letter}-pl-10 {
		padding-left: 10px;
	}

	.#{$letter}-pl-20 {
		padding-left: 20px;
	}
	// padding bottom
	.#{$letter}-pb-0 {
		padding-bottom: 0;
	}

	.#{$letter}-pb-10 {
		padding-bottom: 10px;
	}

	.#{$letter}-pb-20 {
		padding-bottom: 20px;
	}
	// padding top
	.#{$letter}-pt-0 {
		padding-top: 0;
	}

	.#{$letter}-pt-10 {
		padding-top: 10px;
	}

	.#{$letter}-pt-20 {
		padding-top: 20px;
	}
	/// --------------------------------------
}



// fluid -------------------------------
@for $i from 0 through 12 {
	.fluid-#{(($i * 100) + 800)} {
		max-width: (($i * 100px) + 800);
		margin: 0 auto;
	} 
}

// letter mixin call --------------
@include a {
	@include letter("a");
}

@include b {
	@include letter("b");
}

@include c {
	@include letter("c");
}

@include d {
	@include letter("d");
}

@include e {
	@include letter("e");
}

// letter-extend ----------------
@include a {
	@include letter-extend("a");
}

@include b {
	@include letter-extend("b");
}

@include c {
	@include letter-extend("c");
}

@include d {
	@include letter-extend("d");
}

@include e {
	@include letter-extend("e");
}