@mixin push-left { margin-left: unset; margin-right: auto; };
@mixin push-center { margin-left: auto; margin-right: auto; };
@mixin push-right { margin-left: auto; margin-right: unset; };
@mixin push-top { margin-top: unset; margin-bottom: auto; };
@mixin push-middle { margin-top: auto; margin-bottom: auto; };
@mixin push-bottom { margin-top: auto; margin-bottom: unset; };

.s {
	& .push-left { @include push-left(); }
	& .push-center { @include push-center(); }
	& .push-right { @include push-right(); }
	& .push-top { @include push-top(); }
	& .push-middle { @include push-middle(); }
	& .push-bottom { @include push-bottom(); }
	// helpers
	& .stretch { push-self: stretch; }
	& .no-stretch { push-self: unset; }
	& .grow { flex-grow: 1; }
	& .no-grow { flex-grow: 0; }
	& .shrink { flex-shrink: 1; }
	& .no-shrink { flex-shrink: 0; }
}
@media only screen {
	.x {
		& .push-left--x { @include push-left(); }
		& .push-center--x { @include push-center(); }
		& .push-right--x { @include push-right(); }
		& .push-top--x { @include push-top(); }
		& .push-middle--x { @include push-middle(); }
		& .push-bottom--x { @include push-bottom(); }
		// helpers
		& .stretch--x { push-self: stretch; }
		& .no-stretch--x { push-self: unset; }
		& .grow--x { flex-grow: 1; }
		& .no-grow--x { flex-grow: 0; }
		& .shrink--x { flex-shrink: 1; }
		& .no-shrink--x { flex-shrink: 0; }
	}
	.xx {
		& .push-left--xx { @include push-left(); }
		& .push-center--xx { @include push-center(); }
		& .push-right--xx { @include push-right(); }
		& .push-top--xx { @include push-top(); }
		& .push-middle--xx { @include push-middle(); }
		& .push-bottom--xx { @include push-bottom(); }
		// helpers
		& .stretch--xx { push-self: stretch; }
		& .no-stretch--xx { push-self: unset; }
		& .grow--xx { flex-grow: 1; }
		& .no-grow--xx { flex-grow: 0; }
		& .shrink--xx { flex-shrink: 1; }
		& .no-shrink--xx { flex-shrink: 0; }
	}
	.xxx {
		& .push-left--xxx { @include push-left(); }
		& .push-center--xxx { @include push-center(); }
		& .push-right--xxx { @include push-right(); }
		& .push-top--xxx { @include push-top(); }
		& .push-middle--xxx { @include push-middle(); }
		& .push-bottom--xxx { @include push-bottom(); }
		// helpers
		& .stretch--xxx { push-self: stretch; }
		& .no-stretch--xxx { push-self: unset; }
		& .grow--xxx { flex-grow: 1; }
		& .no-grow--xxx { flex-grow: 0; }
		& .shrink--xxx { flex-shrink: 1; }
		& .no-shrink--xxx { flex-shrink: 0; }
	}
}
@media only print {
	.s {
		& .push-left--p { @include push-left(); }
		& .push-center--p { @include push-center(); }
		& .push-right--p { @include push-right(); }
		& .push-top--p { @include push-top(); }
		& .push-middle--p { @include push-middle(); }
		& .push-bottom--p { @include push-bottom(); }
		// helpers
		& .stretch--p { push-self: stretch; }
		& .no-stretch--p { push-self: unset; }
		& .grow--p { flex-grow: 1; }
		& .no-grow--p { flex-grow: 0; }
		& .shrink--p { flex-shrink: 1; }
		& .no-shrink--p { flex-shrink: 0; }
	}
}
