.s .space-around-items { justify-content: space-around; }
.s .space-between-items { justify-content: space-between; }
.s .wrap-items { flex-wrap: wrap; }
.s .no-wrap-items { flex-wrap: nowrap; }
.s .stretch-items { align-items: stretch; align-content: stretch; }
.s .grow-items { & > * { flex-grow: 1; }}
.s .shrink-items { & > * { flex-shrink: 1; }}
.s .no-grow-items { & > * { flex-grow: 0; }}
.s .no-shrink-items { & > * { flex-shrink: 0; }}
@media only screen {
  .x .space-around-items--x, .xx .space-around-items--xx, .xxx .space-around-items--xxx { justify-content: space-around; }
  .x .space-between-items--x, .xx .space-between-items--xx, .xxx .space-between-items--xxx { justify-content: space-between; }
  .x .wrap-items--x, .xx .wrap-items--xx,	.xxx .wrap-items--xxx { flex-wrap: wrap; }
  .x .no-wrap-items--x, .xx .no-wrap-items--xx, .xxx .no-wrap-items--xxx { flex-wrap: nowrap; }
  .x .stretch-items--x, .xx .stretch-items--xx, .xxx .stretch-items--xxx { align-items: stretch; align-content: stretch; }
  .x .grow-items--x, .xx .grow-items--xx, .xxx .grow-items--xxx { & > * { flex-grow: 1; }}
  .x .shrink-items--x, .xx .shrink-items--xx, .xxx .shrink-items--xxx { & > * { flex-shrink: 1; }}
  .x .no-grow-items--x, .xx .no-grow-items--xx, .xxx .no-grow-items--xxx { & > * { flex-grow: 0; }}
  .x .no-shrink-items--x, .xx .no-shrink-items--xx, .xxx .no-shrink-items--xxx { & > * { flex-shrink: 0; }}
}
@media only print {
  .s .wrap-items--p { flex-wrap: wrap; }
  .s .no-wrap-items--p { flex-wrap: nowrap; }
  .s .space-around-items--p { justify-content: space-around; }
  .s .space-between-items--p { justify-content: space-between; }
  .s .stretch-items--p, .s .cols-stretch--p { align-items: stretch; align-content: stretch; }
  .s .grow-items--p, .s .cols-grow--p { & > * { flex-grow: 1; }}
  .s .shrink-items--p, .s .cols-shrink--p { & > * { flex-shrink: 1; }}
  .s .no-grow-items--p, .s .cols-no-grow--p { & > * { flex-grow: 0; }}
  .s .no-shrink-items--p, .s .cols-no-shrink--p { & > * { flex-shrink: 0; }}
}

// cols items - vertical ------------------------------------------------
@mixin align-items-start { align-items: flex-start; align-content: flex-start; }
@mixin align-items-center { align-items: center; align-content: center; }
@mixin align-items-end { align-items: flex-end; align-content: flex-end; }
@mixin justify-content-start { justify-content: flex-start; }
@mixin justify-content-center { justify-content: center; }
@mixin justify-content-end { justify-content: flex-end; }

@mixin align-items($size: "s") {
  $sizeclass: $size !default;
  @if $size == "p" {
    $sizeclass: "s";
  }
  .#{$sizeclass} {
    $size-append: "" !default;
    @if $size == "s" {
      $size-append: "";
    } @else {
      $size-append: "--" + $size;
    }
    .cols#{$size-append} {
      &.cols-top#{$size-append} { @include align-items-start; }
      &.cols-middle#{$size-append} { @include align-items-center; }
      &.cols-bottom#{$size-append}  { @include align-items-end; }
      &.cols-left#{$size-append} { @include justify-content-start; }
      &.cols-center#{$size-append} { @include justify-content-center; }
      &.cols-right#{$size-append} { @include justify-content-end; }
    }
    .rows#{$size-append} {
      &.rows-top#{$size-append} { @include justify-content-start; }
      &.rows-middle#{$size-append} { @include justify-content-center; }
      &.rows-bottom#{$size-append} { @include justify-content-end; }
      &.rows-left#{$size-append} { @include align-items-start; }
      &.rows-center#{$size-append} { @include align-items-center; }
      &.rows-right#{$size-append} { @include align-items-end; }
    }
  }
}

@include align-items("s");

@media only screen {
  @include align-items("x");
  @include align-items("xx");
  @include align-items("xxx");
}

@media only print {
  @include align-items("p");
}
