/* show / hide  */
@mixin hide() { visibility: hidden; position: absolute;  }
@mixin show() {  visibility: visible; position: unset; }

.s .show { @include show(); }
.s .hide { @include hide(); }
@media only screen {
	.x .show--x, .xx .show--xx, .xxx .show--xxx,  { @include show(); }
	.x .hide--x, .xx .hide--xx, .xxx .hide--xxx { @include hide(); }
}
@media only print {
	.show--p { @include show(); }
	.hide--p { @include hide(); }
}

// order
@mixin order($i) { order: $i; }
@for $i from 1 through 12 {
	.s .order-#{$i} { @include order($i); }
}
@media only screen {
	@for $i from 1 through 12 {
		.x .order-#{$i}--x, .xx .order-#{$i}--xx, .xxx .order-#{$i}--xxx { @include order($i); }
	}
}
@media only print {
	@for $i from 1 through 12 {
		.p .order-#{$i}--p { @include order($i); }
	}
}