// mobile sizes
$a-break: 160px;
$b-break: 480px;
// tablet sizes
$c-break: 640px;
$d-break: 960px;
// desktop sizes
$e-break: 1200px+17px;



// medias ---------------------------------------
// A -------------------------
@mixin a {
	@media all {
		@content;
	}
}

@mixin a-port {
	@media all and (min-height: 66vw) {
		@content;
	}
}

@mixin a-land {
	@media all and (max-height: 65vw) {
		@content;
	}
}


// B -------------------------
@mixin b {
	@media all and (min-width: $b-break)  {
		@content;
	}
}

@mixin b-port {
	@media all and (min-width: $b-break) and (min-height: 66vw) {
		@content;
	}
}

@mixin b-land {
	@media all and (min-width: $b-break) and (max-height: 65vw) {
		@content;
	}
}

// C -------------------------
@mixin c {
	@media all and (min-width: $c-break) {
		@content;
	}
}

@mixin c-port {
	@media all and (min-width: $c-break) and (min-height: 66vw) {
		@content;
	}
}

@mixin c-land {
	@media all and (min-width: $c-break) and (max-height: 65vw) {
		@content;
	}
}

// D -------------------------
@mixin d {
	@media all and (min-width: $d-break) {
		@content;
	}
}

@mixin d-port {
	@media all and (min-width: $d-break) and (min-height: 76vw) {
		@content;
	}
}

@mixin d-land {
	@media all and (min-width: $d-break) and (max-height: 75vw) {
		@content;
	}
}

// E -------------------------
@mixin e {
	@media all and (min-width: $e-break) {
		@content;
	}
}

@mixin e-port {
	@media all and (min-width: $e-break) and (min-height: 76vw) {
		@content;
	}
}

@mixin e-land {
	@media all and (min-width: $e-break) and (max-height: 75vw) {
		@content;
	}
}

@mixin min($minDisplayWidth) {
	@media all and (min-width: $minDisplayWidth) {
		@content;
	}
}
@mixin max($maxDisplayWidth) {
	@media all and (max-width: $maxDisplayWidth) {
		@content;
	}
}



// pixel density
@mixin media1x {
	@media
	only screen and (-webkit-min-device-pixel-ratio: 1),
	only screen and (min--moz-device-pixel-ratio: 1),
	only screen and (min-device-pixel-ratio: 1),
	only screen and (min-resolution: 1dppx)
	{
		@content;
	}
}
@mixin media2x {
	@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 2dppx){
		@content;
	}
}
@mixin media3x {
	@media
	only screen and (-webkit-min-device-pixel-ratio:3),
	only screen and (min--moz-device-pixel-ratio: 3),
	only screen and (min-device-pixel-ratio: 3),
	only screen and (min-resolution: 3dppx){
		@content;
	}
}
@mixin media4x {
	@media
	only screen and (-webkit-min-device-pixel-ratio:4),
	only screen and (min--moz-device-pixel-ratio: 4),
	only screen and (min-device-pixel-ratio: 4),
	only screen and (min-resolution: 4dppx){
		@content;
	}
}