html, body {
	font-size: 16px;
	position: absolute;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	min-height: 100%;
	width: 100vw;
	overflow-x: hidden;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
address, article, aside, blockquote, canvas, dd, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hr, li, main, nav, noscript, ol, output, p, pre, section, table, tfoot, ul, video {
	position: relative;
	box-sizing: border-box;
}
